:root {
  --main-title-color: #48555b;
  --first-text-color: #ffffff;
  --second-text-color: #00a4e5;
}
body {
  font-family: Open Sans, Bebas Neue;
}
.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}
/*----------------header-----------------*/
.image-header {
  width: 100%;
  position: absolute;
}
.logo-header {
  position: absolute;
  margin-left: 46%;
  margin-top: 41px;
}
.title-header {
  font-family: Bebas Neue;
  font-style: normal;
  font-weight: normal;
  font-size: 60px;
  line-height: 72px;
  letter-spacing: 5.70937px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  text-align: center;
  position: relative;
  padding-top: 305px;
  margin: auto;
}
.subtitle-header {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: auto;
  padding-top: 21px;
}
