:root {
  --main-title-color: #48555b;
  --first-text-color: #ffffff;
  --second-text-color: #00a4e5;
}
body {
  font-family: Open Sans, Bebas Neue;
}
.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}
/*----------------header-----------------*/
.header {
  background-image: url(../image/fon-header.jpg);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}
.header-logo {
  text-align: center;
  padding-top: 41px;
}
.wrap-header {
  display: flex;
  text-align: center;
  flex-direction: column;
  padding-top: 305px;
}
.header-title {
  font-family: Bebas Neue;
  font-style: normal;
  font-weight: normal;
  font-size: 60px;
  line-height: 72px;
  letter-spacing: 5.70937px;
  color: #ffffff;
}
.header-subtitle {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
}
