:root {
  --main-title-color: #48555b;
  --first-text-color: #ffffff;
  --second-text-color: #00a4e5;
}
body {
  font-family: Open Sans, Bebas Neue;
}
.container {
  width: 100%;
  max-width: 941px;
  margin: 0 auto;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 auto;
}
ul {
  padding: 0;
  margin: 0;
}
/*----------------header-----------------*/
.header {
  background-image: url(../image/fon-header.jpg);
  min-height: 768px;
  background-repeat: no-repeat;
  /* background-size: cover; */
  background-position: center;
}
.header-logo {
  text-align: center;
  padding-top: 41px;
}
.wrap-header {
  display: flex;
  text-align: center;
  flex-direction: column;
  padding-top: 305px;
}
.header-title {
  font-family: Bebas Neue;
  font-style: normal;
  font-weight: normal;
  font-size: 60px;
  line-height: 1.2;
  letter-spacing: 5.70937px;
  color: #ffffff;
}
.header-subtitle {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.4;
  color: #ffffff;
  margin-top: 21px;
}
.header-slogan {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.37;
  letter-spacing: 3.7px;
  color: #ffffff;
  text-align: center;
  padding-top: 189px;
}
/*---------------------HEADING-------------------*/
.heading {
  border: 1px solid #e6e6e6;
  margin-bottom: 57px;
}
.heading-nav {
  display: flex;
  justify-content: space-between;
}
.heading-image {
  padding-top: 24px;
  padding-bottom: 23px;
}
.heading-list {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}

.heading-link {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 1.09091px;
  color: #48555b;
  margin-left: 42.5px;
  padding-top: 24px;
  padding-bottom: 25px;
}
.heading-link:hover,
.heading-link:focus {
  color: #00a4e5;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/*---------------HERO--------*/
.hero-title {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  letter-spacing: 2.30625px;
  color: #48555b;
  margin-bottom: 96px;
  position: relative;
  max-width: 150px;
}
.wrap-hero {
  display: flex;
  justify-content: space-between;
  align-items: end;
}
.hero-title:after {
  content: "";
  width: 50px;
  height: 2px;
  border: 2px solid #00a4e5;
  position: absolute;
  display: flex;
  bottom: -15px;
  left: 30%;
}
.hero-aside {
  max-width: 405px;
}
.hero-subtitle {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 27px;
  letter-spacing: 0.1875px;
  color: #48555b;
  margin-bottom: 30px;
}
.hero-subtitle span {
  color: #00a4e5;
}
.hero-text {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 23px;
  letter-spacing: 0.1875px;
  color: #48555b;
}
.hero-image {
  display: flex;
}

.hero-text-1 {
  position: absolute;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.1875px;
  color: #ffffff;
  padding: 15px 14px;
  max-width: 58px;
}
.hero-text-2 {
  position: absolute;
  font-weight: 800;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.1875px;
  color: #ffffff;
  padding: 15px 14px;
  max-width: 58px;
}
.hero-text-3 {
  position: absolute;
  font-weight: 800;
  font-size: 24px;
  line-height: 1.21;
  letter-spacing: 0.1875px;
  color: #ffffff;
  padding: 15px 14px;
  max-width: 58px;
}
.hero-image-item-1 {
  background-image: url(../image/weplan.jpg);
  width: 140px;
  height: 224px;
}
.hero-image-item-2 {
  background-image: url(../image/wemanage.jpg);
  width: 140px;
  height: 224px;
  margin: 0 20px;
}
.hero-image-item-3 {
  background-image: url(../image/webuild.jpg);
  width: 140px;
  height: 224px;
}
/*-------------ABOUT--------*/
.about {
  margin-top: 117px;
}
.wrap-about {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 1.39;
  letter-spacing: 2.30625px;
  color: #48555b;
  margin: 0;
  margin-right: 155px;
  position: relative;
}
.about-title::after {
  content: "";
  width: 50px;
  height: 2px;
  border: 2px solid #00a4e5;
  position: absolute;
  display: block;
  bottom: -10px;
}
.about-subtitle {
  font-weight: normal;
  font-size: 11px;
  line-height: 1.72;
  letter-spacing: 0.2px;
  color: #48555b;
  margin: 0;
}
.about-btn {
  width: 150px;
  height: 40px;
  background: #00a4e5;
  border: none;
  font-weight: bold;
  font-size: 13px;
  line-height: 1.39;
  letter-spacing: 0.5px;
  color: #ffffff;
  cursor: pointer;
}
.about-btn:hover,
.about-btn:focus {
  box-shadow: 0px 1px 1px rgb(0 0 0 / 12%), 0px 4px 4px rgb(0 0 0 / 6%),
    1px 4px 6px rgb(0 0 0 / 16%);
}
/*-------------FEATURES------------*/
.features {
  margin-top: 76px;
}
.features-title {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.426667px;
  color: #48555b;
  margin-top: 25px;
}
.features-subtitle {
  font-weight: normal;
  font-size: 13px;
  line-height: 23px;
  letter-spacing: 0.1875px;
  color: #48555b;
}
.wrap-features {
  display: flex;
}

.card {
  border: 1px solid #e6e6e6;
  box-sizing: border-box;
  padding: 38px 22px 39px 23px;
  margin-right: 25px;
}
.card:last-child {
  margin-right: 0;
}

/*---------------HEXT-FEATURES---------*/
.next-features {
  margin-top: 115px;
  background-image: url(../image/get-in-touch.png);
  min-height: 499px;
  background-repeat: no-repeat;
  background-position: center;
}
.next-features-title {
  font-weight: bold;
  font-size: 30px;
  line-height: 1.2;
  letter-spacing: 0.15px;
  color: #48555b;
  text-align: center;
  width: 350px;
}
.wrap-next-features {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 120px;
}
.features-btn {
  font-weight: bold;
  background: var(--second-text-color);
  width: 150px;
  height: 40px;
  font-size: 13px;
  line-height: 1.4;
  letter-spacing: 0.5px;
  color: #ffffff;
  cursor: pointer;
  border: none;
  margin-top: 35px;
}
.features-btn:hover,
.features-btn:focus {
  box-shadow: 0px 1px 1px rgb(0 0 0 / 12%), 0px 4px 4px rgb(0 0 0 / 6%),
    1px 4px 6px rgb(0 0 0 / 16%);
}
/*-------------MAIL----------------*/
.mail {
  background: #171819;
  min-height: 100px;
}
.wrap-mail {
  display: flex;
  justify-content: center;
  padding-top: 30px;
}
.mail-title {
  font-weight: bold;
  font-size: 22px;
  line-height: 1.37;
  letter-spacing: 0.846154px;
  color: #ffffff;
  margin: 0;
  margin-right: 70px;
}
.mail-input {
  background: #ffffff;
  border: 1px solid #979797;
  box-sizing: border-box;
  width: 250px;
  height: 40px;
}
.mail-btn {
  font-weight: bold;
  background: var(--second-text-color);
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.5px;
  color: #ffffff;
  width: 150px;
  height: 40px;
  border: none;
  cursor: pointer;
}
/*----------FOOTER-----------*/
.footer {
  background: #141a20;
  min-height: 240px;
}
.wrap-footer {
  display: flex;
  align-items: baseline;
}
.footer-company-title {
  font-size: 11px;
  line-height: 1.37;
  letter-spacing: 0.846154px;
  color: #ffffff;
  padding-top: 42px;
  margin-bottom: 19px;
}
.footer-image {
  margin-bottom: 15px;
}
.wrap-footer-link {
  display: flex;
}
.footer-company-subtitle {
  font-size: 11px;
  line-height: 1.73;
  letter-spacing: 0.85px;
  color: #ffffff;
  width: 250px;
  height: 76px;
  margin: 0;
}
